<!-- Navigation -->
<customization-vertical-navigation class="bg-card print:hidden" [appearance]="'thin'"
    [mode]="isScreenSmall ? 'over' : 'side'" [name]="'mainNavigation'" [navigation]="navigation.compact"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container customizationVerticalNavigationContentHeader>
        <!-- Logo -->
        <!-- <div class="flex items-center justify-center h-20">
            <img class="w-10" src="assets/icons/icon.png" alt="Logo image">
        </div> -->
    </ng-container>

    <ng-container customizationVerticalNavigationFooter>
        <div class="flex flex-col items-center p-2">
            <!-- <user></user> -->
            <scheme></scheme>
            <customization-fullscreen class="hidden md:block"></customization-fullscreen>
            <sign-out></sign-out>
        </div>
    </ng-container>
</customization-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">

    <!-- Header -->
    <div
        class="sticky top-0 flex flex-row justify-start flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card print:hidden">
        <!-- Navigation toggle button -->
        <button class="mr-2" mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>

        <div class="flex flex-row justify-start items-center">
            <div class="flex flex-row justify-start items-center">
                <img src="assets/images/logo/angular.svg" class="h-10" />
            </div>
            <div class="pl-4 text-xl sm:text-xl md:text-3xl items-center flex flex-row">
                Web Angular
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="sticky bottom-0 flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card print:hidden">
        <span class="font-medium text-secondary">Hi Dashboard | Hi App</span>
    </div>

</div>

<!-- Quick chat -->
<!-- <quick-chat #quickChat="quickChat"></quick-chat> -->
